<section id='about-me'>
  <div class="row v-align v-align-small">
    <div class="container large-8 large-centered columns scroll" data-animate='fadeIn'>
      <div class="row">
        <div class="columns">
          <h1 class='header'>About Me</h1>
        </div>
        <div class="description panel columns">
          <p>
            I am a Software Engineer experienced in Ruby on Rails, JavaScript, ReactJS, and have begun
            working in Swift. Having graduated from UC Santa Barbara with a degree in Electrical
            Engineering and a minor in Chemistry, I'm currently based out of Los Angeles, CA working
            at Soothe.
          </p>
          <p>
            With the life goal to never stop learning, I enjoy coding in my spare time: both on
            personal projects and on open source software. When I'm not developing, I enjoy
            listening to vinyl records, gaming, and following the Lakers during the NBA season.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

