<section id='about-me'>
  <div class="row v-align">
    <div class="container large-10 large-centered columns scroll" data-animate='fadeIn'>
      <div class="row">
        <div class="columns">
          <h3 class='header'>About Me</h3>
        </div>
        <div class="description panel columns">
          <p>
            Heres some stuff about me. it will probably be some professional stuff like what
            languages i use, but also some personal hobbies of mine. maybe talk about how OSS isnt
            so intimidating anymore, yada yada. also this font will be bigger.
          </p>
          <p>
            Heres some stuff about me. it will probably be some professional stuff like what
            languages i use, but also some personal hobbies of mine. maybe talk about how OSS isnt
            so intimidating anymore, yada yada. also this font will be bigger.
          </p>
          <p>
            Heres some stuff about me. it will probably be some professional stuff like what
            languages i use, but also some personal hobbies of mine. maybe talk about how OSS isnt
            so intimidating anymore, yada yada. also this font will be bigger.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

