#about-me {
  background: $whiteBackground;
  text-align: center;
  height: 44em;
  .description {
    color: #555;
    p {
      font-size: 20px;
    }
  }
  @media screen and (max-width: $phone) {
    font-size: 24px;
    height: 60em;
  }
}


