#caption-banner, #about-me-container {
  h2, h3, h4, a {
    color: #DCDCDC;
  }
}

#projects-container {
  .image-container {
    height: 150px;
    div {
      top: 50%;
      position: relative;
      transform: translateY(-50%);
    }
    img {
      border: 1px solid black;
    }
  }
}

#contact-icons-container {
  .contact-icon {
    display: inline-block;
    margin: 0 .25em;
    background-color: #656565;
    height: 3em;
    width: 3em;
    border-radius: 2em;
    text-align: center;
    i.fa {
      top: 50%;
      position: relative;
      transform: translateY(-50%);
    }
  }
}

#profile-picture-container {
  img { border-radius: 250px; }
}

body {
  background-image: url("/assets/congruent_outline.png")!important;
}

