#intro {
  #intro-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .35);
  }
  .intro-container { z-index: 2; }
  position: relative;
  height: 44em;
  background: url("/assets/images/code_wall.png") 0px 0px no-repeat fixed;
  background-size: cover;

  .header, .contact-icon {
    color: $smokeText;
  }
  .banner hr {
    margin-top:100px
  }
  .button {
    margin: 1em 0 0 0;
    padding-top: 1em;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid black;
  }

  .contact-icon {
    border: 1px solid black;
    &:hover { color: #333; }
    i { font-size: 2em; }
    display: inline-block;
    margin: 0 .25em;
    background-color: #656565;
    height: 3em;
    width: 3em;
    border-radius: 2em;
    text-align: center;
  }

  img { border-radius: 1000px; }

  @media screen and (max-width: $phone) {
    height: 80em;
    text-align: center;
    .description { margin-top: 20px; }
    .contact-icon {
      i { font-size: 3em; }
      display: inline-block;
      margin: 0 .25em;
      background-color: #656565;
      height: 5em;
      width: 5em;
      border-radius: 5em;
      text-align: center;
    }
  }
}
