#projects {
  height: 56em;
  text-align: center;
  background: url(/assets/images/vinyl-wallpaper.png) no-repeat center top fixed;
  background-size: cover;

  .container {
    .header {
      color: $smokeText;
    }

    .project-container {
      .project-header { color: $smokeText }
      .project-description { text-align: justify; }
    }
    .image-container {
      height: 150px;
      &:hover .overlay { display:none!important; }
      .project-image img{
        border: 1px solid black;
      }
    }
  }

  @media screen and (max-width: $phone) {
    height: 120em;
  }
}
